IOBUF PORT "CKV" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "CLK0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DATA[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GMODE" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LE" IO_TYPE=LVCMOS33 ;
IOBUF PORT "NEG_CTRL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "OE" IO_TYPE=LVCMOS33 ;
IOBUF PORT "POS_CTRL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SMPS_CTRL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPH" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPV" IO_TYPE=LVCMOS33 ;
LOCATE COMP "CKV" SITE "PR3C" ;
LOCATE COMP "CL" SITE "PR4C" ;
LOCATE COMP "CLK0" SITE "PT11D" ;
LOCATE COMP "DATA[0]" SITE "PR11A" ;
LOCATE COMP "DATA[1]" SITE "PR10B" ;
LOCATE COMP "DATA[2]" SITE "PR6A" ;
LOCATE COMP "DATA[3]" SITE "PR10A" ;
LOCATE COMP "DATA[4]" SITE "PR5B" ;
LOCATE COMP "DATA[5]" SITE "PR8B" ;
LOCATE COMP "DATA[6]" SITE "PR8A" ;
LOCATE COMP "DATA[7]" SITE "PR6B" ;
LOCATE COMP "GMODE" SITE "PR3B" ;
LOCATE COMP "LE" SITE "PR4A" ;
LOCATE COMP "NEG_CTRL" SITE "PR2B" ;
LOCATE COMP "OE" SITE "PR5A" ;
LOCATE COMP "POS_CTRL" SITE "PR2A" ;
LOCATE COMP "SMPS_CTRL" SITE "PR3A" ;
LOCATE COMP "SPH" SITE "PR4B" ;
LOCATE COMP "SPV" SITE "PR3D" ;
IOBUF PORT "ADDR[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADDR[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MEM_CE" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MEM_OE" IO_TYPE=LVCMOS33 ;
IOBUF PORT "MEM_WE" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ADDR[8]" SITE "PR11B" ;
LOCATE COMP "ADDR[9]" SITE "PR12A" ;
LOCATE COMP "ADDR[7]" SITE "PR12B" ;
LOCATE COMP "ADDR[6]" SITE "PR13D" ;
LOCATE COMP "ADDR[5]" SITE "PR14A" ;
LOCATE COMP "ADDR[4]" SITE "PR14C" ;
LOCATE COMP "ADDR[3]" SITE "PB11D" ;
LOCATE COMP "ADDR[2]" SITE "PB11C" ;
LOCATE COMP "ADDR[1]" SITE "PB10F" ;
LOCATE COMP "ADDR[0]" SITE "PB10D" ;
LOCATE COMP "ADDR[18]" SITE "PB10C" ;
LOCATE COMP "ADDR[17]" SITE "PB10B" ;
LOCATE COMP "ADDR[16]" SITE "PB10A" ;
LOCATE COMP "ADDR[15]" SITE "PB9E" ;
LOCATE COMP "ADDR[14]" SITE "PB6F" ;
LOCATE COMP "ADDR[13]" SITE "PB7B" ;
LOCATE COMP "ADDR[12]" SITE "PB7C" ;
LOCATE COMP "ADDR[11]" SITE "PB7D" ;
LOCATE COMP "ADDR[10]" SITE "PB7F" ;
LOCATE COMP "MEM_OE" SITE "PB9B" ;
LOCATE COMP "MEM_CE" SITE "PR14D" ;
LOCATE COMP "MEM_WE" SITE "PR14B" ;
IOBUF PORT "IO[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "IO[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "IO[3]" SITE "PR15A" ;
LOCATE COMP "IO[2]" SITE "PR15B" ;
LOCATE COMP "IO[1]" SITE "PR16A" ;
LOCATE COMP "IO[0]" SITE "PR16B" ;
LOCATE COMP "IO[7]" SITE "PB9A" ;
LOCATE COMP "IO[6]" SITE "PB4D" ;
LOCATE COMP "IO[5]" SITE "PB5A" ;
LOCATE COMP "IO[4]" SITE "PB5B" ;
IOBUF PORT "DCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "HSYNC" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VSYNC" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DCK_OUT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "HS_OUT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VS_OUT" IO_TYPE=LVCMOS33 ;
LOCATE COMP "DCK" SITE "PL14C" ;
LOCATE COMP "HSYNC" SITE "PL14D" ;
LOCATE COMP "VSYNC" SITE "PL15A" ;
LOCATE COMP "DCK_OUT" SITE "PT11C" ;
LOCATE COMP "HS_OUT" SITE "PT11B" ;
LOCATE COMP "VS_OUT" SITE "PT11A" ;
IOBUF PORT "MEM_WE2" IO_TYPE=LVCMOS33 ;
LOCATE COMP "MEM_WE2" SITE "PT10E" ;
LOCATE COMP "SW1" SITE "PT7D" ;
LOCATE COMP "SW2" SITE "PT7A" ;
LOCATE COMP "SW3" SITE "PT5D" ;
IOBUF PORT "SW1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SW3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SW2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GREEN[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GREEN[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GREEN[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GREEN[4]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "GREEN[4]" SITE "PL6D" ;
LOCATE COMP "GREEN[5]" SITE "PL7C" ;
LOCATE COMP "GREEN[6]" SITE "PL7D" ;
LOCATE COMP "GREEN[7]" SITE "PL10A" ;
IOBUF PORT "SW[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SW[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SW[1]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "SW[1]" SITE "PL16B" ;
LOCATE COMP "SW[2]" SITE "PL16A" ;
LOCATE COMP "SW[3]" SITE "PL15B" ;
